{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "ListNode": true
  },
  "rules": {
    "no-unused-vars": "off",
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-console": "off"
  },
  "parser": "babel-eslint"
}